<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14A368</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>3.5.0, Copyright Apple Inc. 2000-2014</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleATAPIStorage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleATAPIStorage Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.5.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A280m</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A359</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A280m</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>com_apple_driver_IomegaZip</key>
		<dict>
			<key>ATAPI Mass Storage Characteristics</key>
			<dict>
				<key>DMA Mode</key>
				<integer>0</integer>
				<key>UDMA Mode</key>
				<integer>0</integer>
				<key>device model</key>
				<string>IOMEGA</string>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOATAPIProtocolTransport</string>
			<key>IOClass</key>
			<string>IOATAPIProtocolTransport</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOATADevice</string>
			<key>Physical Interconnect</key>
			<string>ATAPI</string>
			<key>Physical Interconnect Location</key>
			<string>Internal</string>
			<key>ata device type</key>
			<string>atapi</string>
		</dict>
		<key>com_apple_driver_VSTMediaBaySuperDisk</key>
		<dict>
			<key>ATAPI Mass Storage Characteristics</key>
			<dict>
				<key>DMA Mode</key>
				<integer>0</integer>
				<key>UDMA Mode</key>
				<integer>0</integer>
				<key>device model</key>
				<string>LS-120 SLIM   02              UHD Floppy</string>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOATAPIProtocolTransport</string>
			<key>IOClass</key>
			<string>IOATAPIProtocolTransport</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOATADevice</string>
			<key>Physical Interconnect</key>
			<string>ATAPI</string>
			<key>Physical Interconnect Location</key>
			<string>Internal</string>
			<key>ata device type</key>
			<string>atapi</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
