<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17E202</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.7</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9Q1019a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0940</string>
	<key>DTXcodeBuild</key>
	<string>9Q1019a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC S1220A</string>
					<key>CodecID</key>
					<integer>283906408</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwEB
					5xyQAecd4AHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC S1220A</string>
					<key>CodecID</key>
					<integer>283906408</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC S1220A</string>
					<key>CodecID</key>
					<integer>283906408</integer>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXccQCF3
					HSAhdx4BIXcfASGHHFAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIacccCGnHTAhpx6B
					IacfASG3HIAhtx1AIbceISG3HwIh5xyQIecd
					YCHnHkUh5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>9</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>as.vit9696.AppleALCAudio</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>AppleALCAudio</string>
			<key>IOMatchCategory</key>
			<string>IOService</string>
			<key>IOPCIClassMatch</key>
			<string>0x04030000&amp;0xffff0000</string>
			<key>IOPCIMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
