<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16C66</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelSKLGraphicsFramebuffer</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelSKLGraphicsFramebuffer 10.22.25</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>10.22.25</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>10.2.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8R174l</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16C66</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8R174l</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelFramebufferController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<false/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>DEFAULT</key>
					<integer>1</integer>
					<key>IGFBDISPLAY</key>
					<integer>31</integer>
					<key>IGLINKTRAIN</key>
					<integer>31</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
					<key>SysLog</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>1</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDeepDisplay</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>1</integer>
				<key>FBC</key>
				<integer>0</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>GammaAdjustDisable</key>
				<integer>0</integer>
				<key>HPDMetricEnable</key>
				<integer>0</integer>
				<key>IgnorePanelTimings</key>
				<integer>0</integer>
				<key>MaximumSelfRefreshLevel</key>
				<integer>3</integer>
				<key>NV12Enable</key>
				<integer>0</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SpreadON</key>
				<integer>1</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>UseProgrammedCoefficients</key>
				<integer>0</integer>
				<key>Watermarks</key>
				<integer>1</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x19168086 0x191E8086 0x19268086 0x19278086 0x19128086 0x19328086 0x19028086 0x19178086 0x193B8086 0x191B8086</string>
			<key>IOProbeScore</key>
			<integer>80005</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>PMTControl</key>
			<dict>
				<key>DisplayEngineCounting</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1999-2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.AppleGraphicsDeviceControl</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOAcceleratorFamily2</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
