<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Daniel Stuart</string>
	<key>Description</key>
	<string>Black BootCamp looking theme</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>bg.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Banner</key>
		<string>banner.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Select_trans_big.png</string>
			<key>Color</key>
			<string>0xF3F3F380</string>
			<key>Small</key>
			<string>Select_trans_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2016</string>
</dict>
</plist>
