<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ukr55</string>
	<key>Description</key>
	<string>BootCamp style theme for clover</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>40</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>2</integer>
				<key>NudgeX</key>
				<integer>-3</integer>
				<key>NudgeY</key>
				<integer>-1</integer>
				<key>Path</key>
				<string>logo_about</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>40</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>3</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>1</integer>
				<key>Path</key>
				<string>logo_help</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>40</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>4</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>1</integer>
				<key>Path</key>
				<string>logo_options</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>38</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>75</integer>
				<key>FrameTime</key>
				<integer>150</integer>
				<key>Frames</key>
				<integer>5</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>1</integer>
				<key>Path</key>
				<string>logo_wifi</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>bg.png</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Banner</key>
		<dict>
			<key>Path</key>
			<string>logo.png</string>
		</dict>
		<key>BootCampStyle</key>
		<true/>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<false/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<false/>
			<key>Label</key>
			<false/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<false/>
			<key>Tools</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>mpr1.png</string>
			<key>Proportional</key>
			<false/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>TextOffset</key>
			<integer>100</integer>
			<key>TileXSpace</key>
			<integer>40</integer>
			<key>TileYSpace</key>
			<integer>60</integer>
			<key>Vertical</key>
			<false/>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>1080</integer>
			<key>DesignWidth</key>
			<integer>1920</integer>
		</dict>
		<key>Scroll</key>
		<dict>
			<key>BarHeight</key>
			<integer>4</integer>
			<key>Height</key>
			<integer>16</integer>
			<key>ScrollHeight</key>
			<integer>8</integer>
			<key>Width</key>
			<integer>16</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>144.png</string>
			<key>Color</key>
			<string>0xFFFFFF7F</string>
			<key>Indicator</key>
			<string>arrow-64.png</string>
			<key>OnTop</key>
			<false/>
			<key>SelectionSmallWidth</key>
			<integer>100</integer>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2017</string>
</dict>
</plist>
