<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>RockJesus</string>
	<key>Description</key>
	<string>Alienware</string>
	<key>Origination</key>
	<dict>
		<key>DesignHeight</key>
		<integer>900</integer>
		<key>DesignWidth</key>
		<integer>1600</integer>
	</dict>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>25</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>15</integer>
				<key>FrameTime</key>
				<integer>50</integer>
				<key>Frames</key>
				<integer>129</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
				<key>OnTop</key>
				<false/>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>red</string>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>El capitan blur.png</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<dict>
			<key>DistanceFromScreenEdgeX%</key>
			<integer>43</integer>
			<key>DistanceFromScreenEdgeY%</key>
			<integer>5</integer>
			<key>Path</key>
			<string>alienwarelogo.png</string>
			<key>ScreenEdgeX</key>
			<string>left</string>
			<key>ScreenEdgeY</key>
			<string>top</string>
		</dict>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<false/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<false/>
			<key>Tools</key>
			<true/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>12</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>350</integer>
			<key>ButtonOffset</key>
			<integer>50</integer>
			<key>MainEntriesSize</key>
			<integer>128</integer>
			<key>SelectionBigWidth</key>
			<integer>256</integer>
			<key>TextOffset</key>
			<integer>-120</integer>
			<key>TileXSpace</key>
			<integer>96</integer>
			<key>TileYSpace</key>
			<integer>64</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2158</string>
</dict>
</plist>
