<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15F34</string>
	<key>CFBundleExecutable</key>
	<string>BrcmPatchRAM2</string>
	<key>CFBundleIdentifier</key>
	<string>com.no-one.BrcmPatchRAM2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrcmPatchRAM2</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.2.7</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D175</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0730</string>
	<key>DTXcodeBuild</key>
	<string>7D175</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0a5c_216f</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.no-one.BrcmPatchRAM2</string>
			<key>DisplayName</key>
			<string>DW1560 Bluetooth 4.0 LE</string>
			<key>FirmwareKey</key>
			<string>BCM20702A1_001.002.014.1443.1572_v5668</string>
			<key>IOClass</key>
			<string>BrcmPatchRAM2</string>
			<key>IOMatchCategory</key>
			<string>BrcmPatchRAM2</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8559</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>0a5c_6410</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.no-one.BrcmPatchRAM2</string>
			<key>DisplayName</key>
			<string>Dell Wireless 1830 Bluetooth 4.1 LE</string>
			<key>FirmwareKey</key>
			<string>BCM20703A1_001.001.005.0214.0422_v4518</string>
			<key>IOClass</key>
			<string>BrcmPatchRAM2</string>
			<key>IOMatchCategory</key>
			<string>BrcmPatchRAM2</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>25616</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BrcmPatchRAMResidency</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.no-one.BrcmPatchRAM2</string>
			<key>IOClass</key>
			<string>BrcmPatchRAMResidency</string>
			<key>IOMatchCategory</key>
			<string>BrcmPatchRAMResidency</string>
			<key>IOProviderClass</key>
			<string>disabled_IOResources</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.no-one.BrcmFirmwareStore</key>
		<string>2.2.7</string>
	</dict>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/BrcmPatchRAM.git</string>
</dict>
</plist>
