<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Device</key>
		<integer>41712</integer>
		<key>Name</key>
		<string>200 Series PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>8KIAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDwog==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>41329</integer>
		<key>Name</key>
		<string>200 Series Mobile PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>caEAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoBxoQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36129</integer>
		<key>Name</key>
		<string>X99 HDEF controller r2</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>oIwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>IY0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoCgjA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAhjQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36128</integer>
		<key>Name</key>
		<string>X99 HDEF controller r1</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>oIwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>II0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoCgjA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAgjQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3844</integer>
		<key>Name</key>
		<string>Atom Z36xxx/Z37xxx Audio Controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>DAwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>BA8AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoAMDA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAEDw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36</integer>
		<key>Name</key>
		<string>Z97 HDEF controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIwAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>oIwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoAgjA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoCgjA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3084</integer>
		<key>Name</key>
		<string>HD4600 controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>DAoAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>CwwAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>3</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36128</integer>
		<key>Name</key>
		<string>X99 HDEF controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>II0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoAgjA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAgjQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>1042</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>Desktop Intel HD4X00 HDMI (ig-platform-id 0x0d220003)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAAAgQKAAAEAACHAAAAAwYIAAAEAAAR
				AAAA
				</data>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACHAAAAAgQKAAAIAACHAAAAAwYIAAAIAAAR
				AAAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>220332035</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>1042</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD4X00 HDMI (ig-platform-id 0x0a260005)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAAAwAAAAAQUJAAAEAACHAAAAAgQJAAAEAACH
				AAAA
				</data>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAAAwAAAAAQUJAAAIAACHAAAAAgQJAAAIAACH
				AAAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>170262533</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>5654</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD5500 HDMI (ig-platform-id 0x16260006)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>3</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAAAwAgAAAQULAAAEAAAHBQAAAgQLAAAEAAAH
				BQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAAAwAgAAAQULAAAIAAAHBQAAAgQLAAAIAAAH
				BQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>371589126</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>5650</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD5600 HDMI (ig-platform-id 0x16260006)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>3</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAAAwAgAAAQULAAAEAAAHBQAAAgQLAAAEAAAH
				BQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAAAwAgAAAQULAAAIAAAHBQAAAgQLAAAIAAAH
				BQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>371589126</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>5670</integer>
		<key>Name</key>
		<string>Laptop Intel HD6000 HDMI (ig-platform-id 0x16260004)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAAARAgAAAQUJAAAEAAAHBQAAAgQKAAAEAAAH
				BQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAAARAgAAAQUJAAAIAAAHBQAAAgQKAAAIAAAH
				BQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>371589124</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>6430</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD515 HDMI (ig-platform-id 0x191e0000)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAEAACHAQAAAgQKAAAEAACH
				AQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAIAACHAQAAAgQKAAAIAACH
				AQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>421396480</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>6422</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD520 HDMI (ig-platform-id 0x19160000)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAEAACHAQAAAgQKAAAEAACH
				AQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAIAACHAQAAAgQKAAAIAACH
				AQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>420872192</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>6427</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD530 HDMI (ig-platform-id 0x19160000)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAEAACHAQAAAgQKAAAEAACH
				AQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAIAACHAQAAAgQKAAAIAACH
				AQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>420872192</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>6427</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD530 HDMI (ig-platform-id 0x191b0000)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAEAACHAQAAAgQKAAAEAACH
				AQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAIAACHAQAAAgQKAAAIAACH
				AQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>421199872</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>6418</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>Desktop Intel HD530 HDMI (ig-platform-id 0x19120000)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAQAAAgQKAAAEAACHAQAAAwYKAAAEAACH
				AQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACHAQAAAgQKAAAIAACHAQAAAwYKAAAIAACH
				AQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>420610048</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>22802</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>Desktop Intel HD630 HDMI (ig-platform-id 0x59120000)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAQAAAgQKAAAEAACHAQAAAwYKAAAEAACH
				AQAA
				</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACHAQAAAgQKAAAIAACHAQAAAwYKAAAIAACH
				AQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>1494351872</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD4000 HDMI (ig-platform-id 0x01660003)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHBAAAAwQAAAAEAACBAAAABAYAAAAEAACB
				AAAA
				</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAHBAAAAwQAAAAIAACBAAAABAYAAAAIAACB
				AAAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461891</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD4000 HDMI (ig-platform-id 0x01660009)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>
				AQAAAAIAAAAwAAAAAgUAAAAEAAAHAQAAAwQAAAAEAAAH
				AQAA
				</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AQAAAAIAAAAwAAAAAgUAAAAIAAAHAQAAAwQAAAAIAAAH
				AQAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461897</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>354</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>Desktop Intel HD4000 HDMI (ig-platform-id 0x0166000A)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHAQAAAwQAAAAEAAAHAQAABAYAAAAIAAAG
				AAAA
				</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAHAQAAAwQAAAAIAAAHAQAABAYAAAAIAAAG
				AAAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461898</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>294</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>Desktop Intel HD3000 HDMI (snb-platform-id 0x00030010)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHAAAAAwQAAAAEAAAJAAAABAYAAAAIAAAG
				AAAA
				</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAHAAAAAwQAAAAIAAAJAAAABAYAAAAIAAAG
				AAAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>196624</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>278</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Laptop Intel HD3000 HDMI (snb-platform-id 0x00010000)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHAAAAAwQAAAAEAAAJAAAABAYAAAAEAAAJ
				AAAA
				</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAHAAAAAwQAAAAIAAAJAAAABAYAAAAIAAAJ
				AAAA
				</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>65536</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>43720</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>AMD R9 290X HDMI</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>AhDYqg==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>AhDIqg==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>2KoAAA==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>yKoAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lowers the if condition to let the patch above work (older os)</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>16oAAA==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>x6oAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lowers the if condition to let the patch above work (10.13.4 17E182a+)</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>eFX//w==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>uFX//w==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMD</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3599</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>NVIDIA HDMI for GK208 in 10.13.4+</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hAPDg==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4335</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>NVIDIA HDMI for GP102 in 10.13.4+</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hDvEA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4337</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>NVIDIA HDMI for GP106 in 10.13.4+</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hDxEA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4026</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>NVIDIA HDMI for GM206 in 10.13.4+</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hC6Dw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4016</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>NVIDIA HDMI for GM200 in 10.13.4+</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hCwDw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4027</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>NVIDIA HDMI for GM204 in 10.13.4+</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hC7Dw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
</array>
</plist>
