<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11C74</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RTL8192CU7</string>
	<key>CFBundleGetInfoString</key>
	<string>107.1021.12092011, Copyright © Realtek Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.realtek.driver.RTL8192CU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1021</string>
	<key>CFBundleSignature</key>
	<string>realtek</string>
	<key>CFBundleVersion</key>
	<string>1021</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4B110</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11A511a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0410</string>
	<key>DTXcodeBuild</key>
	<string>4B110</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ASUS_USB-N13</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>6059</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>AboCom_8178</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33144</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>AboCom_8189</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33161</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Amigo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>36977</integer>
			<key>idVendor</key>
			<integer>3595</integer>
		</dict>
		<key>Azurewave</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13143</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Belkin_1004</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>4100</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_1102</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>4354</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_2102</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>8450</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_2103</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>8451</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Corega</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>86</integer>
			<key>idVendor</key>
			<integer>1962</integer>
		</dict>
		<key>DLink-DWA121</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13064</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink-DWA132</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13063</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink-DWA133</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13066</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink-DWA135</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13065</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>Edimax_7811</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>30737</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>Edimax_7822</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>30754</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>Feixun_90</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>144</integer>
			<key>idVendor</key>
			<integer>18517</integer>
		</dict>
		<key>Feixun_91</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>145</integer>
			<key>idVendor</key>
			<integer>18517</integer>
		</dict>
		<key>HP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>5673</integer>
			<key>idVendor</key>
			<integer>4156</integer>
		</dict>
		<key>Hawking_HWDN3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25</integer>
			<key>idVendor</key>
			<integer>3686</integer>
		</dict>
		<key>Hawking_HWUN4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>32</integer>
			<key>idVendor</key>
			<integer>3686</integer>
		</dict>
		<key>Hercules</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>57395</integer>
			<key>idVendor</key>
			<integer>1784</integer>
		</dict>
		<key>Netgear_WNA1000M</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>36929</integer>
			<key>idVendor</key>
			<integer>2118</integer>
		</dict>
		<key>Netgear_WNA3100M</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>36897</integer>
			<key>idVendor</key>
			<integer>2118</integer>
		</dict>
		<key>NetweeN_91</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>145</integer>
			<key>idVendor</key>
			<integer>18518</integer>
		</dict>
		<key>PCI_BT-Micro3H2X</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>4609</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USEco300</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>43819</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USLight</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>18690</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USNano2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>43818</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USValue_EZ</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>60695</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_SW_WF02-AD15</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>43822</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>RTL8188CTV</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>394</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33142</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_5088</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>20616</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_Combo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33147</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_Combo_AFF8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45048</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_Combo_AFFB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45051</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_Combo_AFFC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45052</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_Solo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33146</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_VL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33162</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_solo_AFF7</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45047</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_solo_AFF9</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45049</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_solo_AFFA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45050</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188RU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33151</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188RU_Netcore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>12671</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33170</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192CU_8177</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33143</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192CU_8178</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33144</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>Sitecom_WL365</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>82</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA1001v1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>92</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA4001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>97</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Trendnet_624D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25165</integer>
			<key>idVendor</key>
			<integer>8436</integer>
		</dict>
		<key>Trendnet_648B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25739</integer>
			<key>idVendor</key>
			<integer>8436</integer>
		</dict>
		<key>ZyXEL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8192CU</string>
			<key>IOClass</key>
			<string>RTL8192CU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13343</integer>
			<key>idVendor</key>
			<integer>1414</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
	</dict>
</dict>
</plist>
