<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>good.win.ALCPlugFix</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/MyDaemon/Daemon/</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ServiceIPC</key>
    <false/>
    /*
    <key>StandardErrorPath</key>
    <string>/Library/Logs/MyDaemon.log</string>
    <key>StandardOutPath</key>
    <string>/Library/Logs/MyDaemon.log</string>
    */
</dict>
</plist>
