<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>FixHeaders</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>CUU0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0swAENVVTA=
					</data>
					<key>Replace</key>
					<data>
					AAAAAAAAAAAAAAAAAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CUU1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0sxAENVVTE=
					</data>
					<key>Replace</key>
					<data>
					AAAAAAAAAAAAAAAAAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CUU2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0syAENVVTI=
					</data>
					<key>Replace</key>
					<data>
					AAAAAAAAAAAAAAAAAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CUU3</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cA1DUFVTQ0szAENVVTM=
					</data>
					<key>Replace</key>
					<data>
					AAAAAAAAAAAAAAAAAAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EUSB to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVVTQg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change USBE to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVNCRQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C100</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwMAAQBAE=
					</data>
					<key>Replace</key>
					<data>
					QzEwMBAQBAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C101</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwMQAQBAA=
					</data>
					<key>Replace</key>
					<data>
					QzEwMREQBAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C102</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwMgAQBAA=
					</data>
					<key>Replace</key>
					<data>
					QzEwMhIQBAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C103</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					BEMxMDMAEAQ=
					</data>
					<key>Replace</key>
					<data>
					BEMxMDMTEAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C104</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SwRDMTA0ABA=
					</data>
					<key>Replace</key>
					<data>
					SwRDMTA0FBA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C105</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					g0sEQzEwNQAQBAAABghfSA==
					</data>
					<key>Replace</key>
					<data>
					g0sEQzEwNRUQBAAABghfSA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C106</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QzEwNgAQBAAABghfSElEDQ==
					</data>
					<key>Replace</key>
					<data>
					QzEwNhYQBAAABghfSElEDQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C107</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					BEMxMDcAEAQAAAYIX0hJRA==
					</data>
					<key>Replace</key>
					<data>
					BEMxMDcXEAQAAAYIX0hJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C108</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SwRDMTA4ABAEAAAGCF9ISQ==
					</data>
					<key>Replace</key>
					<data>
					SwRDMTA4GBAEAAAGCF9ISQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C109</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMDkAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMDkZEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C10A</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMEEAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMEEaEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C10B</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTBCABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTBCGxAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C10C</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzEwQwAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzEwQxwQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C10D</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					g0sEQzEwRAAQBAAABghfSA==
					</data>
					<key>Replace</key>
					<data>
					g0sEQzEwRB0QBAAABghfSA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C10E</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMEUAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMEUeEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C10F</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTBGABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTBGHxAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C110</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExMAAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExMI4QBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C111</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMTEAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMTGPEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C112</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMTIAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMTKQEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C113</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTEzABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTEzkRAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C114</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExNAAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExNJIQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C115</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMTUAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMTWTEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C116</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMTYAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMTaUEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C117</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTE3ABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTE3lRAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C118</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExOAAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExOJYQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C119</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMTkAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMTmXEAQAAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C11A</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4NLBEMxMUEAEAQAAAYIXw==
					</data>
					<key>Replace</key>
					<data>
					W4NLBEMxMUGYEAQAAAYIXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C11B</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					D1uDSwRDMTFCABAEAAAGCA==
					</data>
					<key>Replace</key>
					<data>
					D1uDSwRDMTFCmRAEAAAGCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C11C</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Cg9bg0sEQzExQwAQBAAABg==
					</data>
					<key>Replace</key>
					<data>
					Cg9bg0sEQzExQ5oQBAAABg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix 12 Cores C11D</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					pAoPW4NLBEMxMUQAEAQAAA==
					</data>
					<key>Replace</key>
					<data>
					pAoPW4NLBEMxMUSbEAQAAA==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v slide=0 dart=0 npci=0x3000 nvda_drv=1 kext-dev-mode=1 rootless=0 keepsyms=1 debug=0x100 -liludbgall -alcbeta -lilubetaall</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>Type</key>
		<string>0x0a01</string>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>5</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Install Fusion!!!!</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<true/>
					<key>Path</key>
					<string>\com.apple.boot.R\boot.efi</string>
					<key>Type</key>
					<string>OSXInstaller</string>
					<key>Volume</key>
					<string>5B217E07-0634-4CCF-A1CD-69B4C440A64E</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Boot Fusion!!!</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>5B217E07-0634-4CCF-A1CD-69B4C440A64E</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>random</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QVBQTEUgU1NEAA==
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AXRh
				</data>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				Aeth
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yXQMDzKD4B9CiUQ7
				</data>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				yesMDzKD4B9CiUQ7
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				dRG5
				</data>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				6xG5
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				/w+ELQ==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				/w+FLQ==
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yXQVDzIl/w8AAEg=
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				yesVDzIl/w8AAEg=
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQABD4Q=
				</data>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				AQABD4U=
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PnU4
				</data>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				PpCQ
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				/w+E0w==
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				/w+F0w==
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yXQUDzIl/w8AAGs=
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>
				yesUDzIl/w8AAGs=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x00</string>
		<key>ROM</key>
		<data>
		YbO5hAPo
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MP61.88Z.0120.B00.1708080652</string>
		<key>Board-ID</key>
		<string>Mac-F60DEB81FF30ACF6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>F5K401701GUDM658C</string>
		<key>BoardType</key>
		<integer>11</integer>
		<key>BoardVersion</key>
		<string>MacPro6,1</string>
		<key>ChassisAssetTag</key>
		<string>Pro-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x02</string>
		<key>Family</key>
		<string>MacPro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE136</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x04</string>
		<key>ProductName</key>
		<string>MacPro6,1</string>
		<key>SerialNumber</key>
		<string>F5KM229OF9VM</string>
		<key>SmUUID</key>
		<string>BDF819F4-06C0-4D49-943A-1A23E8B20928</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>
