<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14A368</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>3.5.0, Copyright Apple Inc. 2000-2014</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.Sony_XDCAM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sony XDCAM Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.5.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A280m</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A359</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A280m</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>com_apple_driver_Sony_XDCAM</key>
		<dict>
			<key>Always Set AutoSense Data</key>
			<string>TRUE</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOFireWireSerialBusProtocolTransport</string>
			<key>Command_Set</key>
			<integer>66776</integer>
			<key>Command_Spec_ID</key>
			<integer>24734</integer>
			<key>Device_Type</key>
			<integer>31</integer>
			<key>IOClass</key>
			<string>IOFireWireSerialBusProtocolTransport</string>
			<key>IOProbeScore</key>
			<integer>8193</integer>
			<key>IOProviderClass</key>
			<string>IOFireWireSBP2LUN</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>FireWire</string>
				<key>Physical Interconnect Location</key>
				<string>External</string>
			</dict>
			<key>Vendor_ID</key>
			<integer>524358</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOFireWireFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOFireWireSBP2</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOFireWireSerialBusProtocolTransport</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
