<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>135</string>
	<key>CFBundleShortVersionString</key>
	<string>11.0</string>
	<key>CFBundleVersion</key>
	<string>1100.37.1a16</string>
	<key>ProjectName</key>
	<string>AirPortDriverBrcm4360</string>
	<key>SourceVersion</key>
	<string>1100037001016000</string>
</dict>
</plist>
