<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15E65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>DSL</string>
			<key>CFBundleTypeName</key>
			<string>Disassembled ASL File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.acpica.dsl</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AML</string>
			<key>CFBundleTypeName</key>
			<string>ACPI Machine Language Binary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.acpica.aml</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ACPI</string>
			<key>CFBundleTypeName</key>
			<string>ACPI Tableset</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.maciasl.tableset</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>IOJones Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.iojones</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MaciASL</string>
	<key>CFBundleIconFile</key>
	<string>MaciASL</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.githib.MaciASLv1.31</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MaciASL</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>RM-1.31</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>252.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0721</string>
	<key>DTXcodeBuild</key>
	<string>7C1002</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Licensed under GPLv3, full text at http://www.gnu.org/licenses/gpl-3.0.txt</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>MaciASL.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Disassembled ASL File</string>
			<key>UTTypeIdentifier</key>
			<string>org.acpica.dsl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dsl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.object-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ACPI Machine Language Binary</string>
			<key>UTTypeIdentifier</key>
			<string>org.acpica.aml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ACPI Tableset</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.maciasl.tableset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>acpi</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>IOJones Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.iojones</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iojones</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
