<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BCM5722D</string>
	<key>CFBundleIdentifier</key>
	<string>my.name.adlan.BCM5722D</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BCM5722D</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.3.6</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BCM5722D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>my.name.adlan.BCM5722D</string>
			<key>IOClass</key>
			<string>my_name_adlan_BCM5722D</string>
			<key>IOMatchCategory</key>
			<string>my_name_adlan_BCM5722D</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,165a</string>
				<string>pci14e4,167a</string>
				<string>pci14e4,1672</string>
				<string>pci14e4,167b</string>
				<string>pci14e4,1673</string>
				<string>pci14e4,169b</string>
				<string>pci14e4,1693</string>
				<string>pci14e4,1712</string>
				<string>pci14e4,1713</string>
				<string>pci14e4,1691</string>
				<string>pci14e4,1698</string>
				<string>pci14e4,16b5</string>
				<string>pci14e4,16b1</string>
				<string>pci14e4,1692</string>
				<string>pci14e4,1600</string>
				<string>pci14e4,1681</string>
				<string>pci14e4,1680</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.8</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
