<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14A368</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MaxTranserSizeOverrideDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>3.5.0, Copyright Apple Inc. 1999-2014</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.MaxTranserSizeOverrideDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MaxTranserSizeOverrideDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.5.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A280m</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A359</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A280m</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleApacerFlashDrive</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.MaxTranserSizeOverrideDriver</string>
			<key>IOClass</key>
			<string>com_apple_driver_MaxTranserSizeOverrideDriver</string>
			<key>IOMaximumBlockCountRead</key>
			<integer>128</integer>
			<key>IOMaximumBlockCountWrite</key>
			<integer>128</integer>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>Flash Drive</string>
			<key>Vendor Identification</key>
			<string>USB</string>
		</dict>
		<key>AppleDazzleUSB20MediaReader</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.MaxTranserSizeOverrideDriver</string>
			<key>IOClass</key>
			<string>com_apple_driver_MaxTranserSizeOverrideDriver</string>
			<key>IOMaximumBlockCountRead</key>
			<integer>128</integer>
			<key>IOMaximumBlockCountWrite</key>
			<integer>128</integer>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Product Identification</key>
			<string>STORAGE DEVICE</string>
			<key>Vendor Identification</key>
			<string>Generic</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOSCSIBlockCommandsDevice</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
