<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FakeLPC</key>
				<false/>
				<key>FixShutdown</key>
				<true/>
				<key>FixUSB</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ALSD ALS0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QUxTRA==
					</data>
					<key>Replace</key>
					<data>
					QUxTMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW UPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BSVw==
					</data>
					<key>Replace</key>
					<data>
					VVBSVw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>b0d4 hdau</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBENA==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BUUwk=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,S) to Method(XPRW,0,..), pair with SSDT-LANC_PRW.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					AAAZABQfX1BSVwg=
					</data>
					<key>Replace</key>
					<data>
					AAAZABQfWFBSVwg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ec0 ec</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PPMC PMCR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UFBNQw==
					</data>
					<key>Replace</key>
					<data>
					UE1DUg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>H_ec ec</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rvp11</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>sensrhub</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MACH</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>BGRT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>RenameDevices</key>
		<dict>
			<key>_SB.PCI0.PEG0.PEGP</key>
			<string>GFX0</string>
			<key>_SB.PCI0.PEG2.PEGP</key>
			<string>TBLT</string>
			<key>_SB.PCI0.RP01.PXSX</key>
			<string>HSSD</string>
			<key>_SB.PCI0.RP05.PXSX</key>
			<string>ENET</string>
			<key>_SB.PCI0.RP06.PXSX</key>
			<string>ARPT</string>
			<key>_SB.PCI0.RP09.PXSX</key>
			<string>NVME</string>
		</dict>
		<key>ResetAddress</key>
		<string>0xCF9</string>
		<key>ResetValue</key>
		<string>0x6</string>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>ngfxcompat=1 slide=470 nvda_drv=1 kext-dev-mode=1 -disablegfxfirmware abm_firstpolldelay=16000</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>APPLE</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C6</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<true/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<string>onboard-1</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<true/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<string>onboard-1</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Disabled</key>
				<true/>
				<key>Key</key>
				<string>layout-id</string>
				<key>Value</key>
				<string>0B000000</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDMI</string>
				<key>Disabled</key>
				<true/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<string>onboard-1</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDMI</string>
				<key>Disabled</key>
				<true/>
				<key>Key</key>
				<string>layout-id</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<true/>
				<key>Key</key>
				<string>@1, connector-type</string>
				<key>Value</key>
				<data>
				AAQAAA==
				</data>
			</dict>
		</array>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>nv-edp</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>@1, connector-type</string>
						<key>Value</key>
						<string>00040000</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>01:00:00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>nv-audio</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-2</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:14.02</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>intel-audio</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<integer>11</integer>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:04.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hdef</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<integer>11</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1F.03</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>ANDROID</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\RemixOS\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>HD(1,GPT,05B14329-D426-457A-88BD-D0442C58852A,0x1000,0x5DC000)</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>preboot</string>
			<string>recovery</string>
			<string>10134</string>
			<string>ALIENDATA</string>
			<string>MICROSD</string>
			<string>USSD</string>
			<string>SSDEFI</string>
			<string>UHIGH</string>
			<string>Mac</string>
			<string>big</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>random</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
		<key>NvidiaGeneric</key>
		<false/>
		<key>NvidiaNoEFI</key>
		<false/>
		<key>NvidiaSingle</key>
		<false/>
		<key>PatchVBios</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x591b0000, 32MB BIOS, 19MB framebuffer 9MB cursor bytes (credit RehabMan)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AABgAgAAUAE=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x591b0000, 0105 instead of 0306, HDMI</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAEAACHAQAAAgQKAAAEAACH
				AQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAIAAACYAAAAAQUSAAAIAACHAQAAAgQKAAAEAACH
				AQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x591b0000, 0105 instead of 0204, HDMI</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQKAAAIAACHAQAAAwYKAAAEAACHAQAA/wAAAAEAAAAg
				AAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUKAAAIAACHAQAAAwYKAAAEAACHAQAA/wAAAAEAAAAg
				AAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch,10.13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSI=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yI=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g32UDw+DlwQAAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g32UD5CQkJCQkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ex smbios hdmi</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				TWFjLTc3RjE3RDdEQTkyODUzMDE=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				TWFjLTU1MUI4NkU1NzQ0RTIzODg=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>intel_ Audio_Controller</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				cKE=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Replace</key>
				<data>
				caE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>nv_ Audio_Controller</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				3hALDg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Replace</key>
				<data>
				3hAgHA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0-edp</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAAEAACYAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>1-edp</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQKAAAIAACHAQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQKAAAEAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>2-hdmi</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AwYKAAAEAACHAQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AwYKAAAIAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>1536MB -&gt; 2048MB for HD630 Mobile</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQMDAwAAYAIAAFABAAAAYA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQMDAwAAYAIAAFABAAAAgA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.14 1536 -&gt; 2048 for 0x591b0000</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAAAYIkdlnUIAESJHZN1CA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAAgIkdlnUIAESJHZN1CA==
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				3hALDg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Replace</key>
				<data>
				3hADGQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>BCM4352-Airport-Extreme, (credit skvo)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Country Code Patch CN(#a) - Credit PMheart</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				QYP8/3Q1SI1V0A==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				ZscGQ07rNI1V0A==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable NVDARequiredOS</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				TlZEQVJlcXVpcmVkT1MA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>NVDAStartupWeb</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAAAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12.6-KBL-5912000-Port_0x5-DP2HDM</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12.6-KBL-5912000-Port_0x6-DP2HDM</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQKAAAEAACHAQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQKAAAIAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12.6-KBL-5912000-Port_0x7-DP2HDM</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AwYKAAAEAACHAQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AwYKAAAIAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>06/26/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP143.88Z.0178.B00.1806261159</string>
		<key>Board-ID</key>
		<string>Mac-551B86E5744E2388</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02740108CDDM651M</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE13F</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro14,3</string>
		<key>SerialNumber</key>
		<string>C02VH4VGHTD5</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>
